.btn-primary{
  background-color: rgb(7, 51, 88);
  padding:10px;
  margin:15px;
  font-size: 20px;
  }

.mainHeader {
  background-color: rgb(7, 51, 88);
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  z-index: 2000;
  position: relative;
}

/* Progressbar (Har också ändrat i bootstrap.css)*/
.progress {
  margin: 20px;
  height: 30px;
  width: 70%;
}
/* Next button */
.nextButton {
  color: white;
  background-color: rgb(7, 51, 88);
  padding: 10px;
  width: 110px;
  margin: 10px;
}
.nextButton:hover{
  color:rgb(243, 89, 0);
}
/* Back button */
.backButton {
  color: white;
  background-color: rgb(7, 51, 88);
  padding: 10px;
  width: 110px;
  margin: 10px;
}

.backButton:hover{
  color:rgb(243, 89, 0);
}

/* Lable companyinfo */
.lable {
  font-size: 20px;
  margin: 5px;

}
/* form input companyinfo */
.form-control {
  width: 300px;
  margin-bottom:30px;
}
/* "Welcome to the undersökning" */
.welcomeText {
  margin-top:25px;
}

/* Questions.js varje fråge-element (fråga + radio buttons) */
.QuestionX {
  padding:20px;
  margin-bottom: 20px;
}
/* Questions.js varje "svars-element" */
.xAnswers {
  margin-top:40px;
  font-size: 12px;
  text-align: left;
}

/* Varje fråge-element (title + desc)*/
.xQuestions {
padding-left: 75px;
padding-right: 50px;
}
/* bootstrap-klass */
.radio-inline {
  transform:scale(1.3);
}

.radio-inline:hover{
  color:rgb(243, 89, 0);
}

/* Varje enskild "radio-button */
.radioB {
  margin-right: 40px;
  padding:10px;
}

/* HeaderBar links */
.navbar-brand {
  color: white;
  margin-right: 40px;
}
/* HeaderBar logos */
.top-logo-container {
  height: 100%;
  width: auto;
  float: left;
}
/* HeaderBar link hover */
.navbarlink:hover {
  color:rgb(243, 89, 0);
}

/* Till knapparna på result sidan */
.result-btn {
  color: white;
  background-color: rgb(7, 51, 88);
  padding: 10px;
}

.result-btn:hover {
  color:rgb(243, 89, 0);
}
/* email input - result.js */
.email{
  min-width: 60px;
  margin-bottom: 5px;
}
